#board {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 148px;
    height: 73px;
    border: 0.5px solid gray;
}

#map {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    float: left;
}

#rasterMap {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    float: right;
    display: none;
}

.img-part {
    width: 150px;
    height: 75px;
    margin: 5px;
    border: 1px solid black;
}