body {
    background-image: url("tlo.jpg");
    background-color: black;
    color: white;
    font-size: 20px;
}
#header {
    min-width: 100%;
    text-align: center;
    color: grey;
    border-bottom: 1px solid;
    border-color: grey;
}
#footer {
    min-width: 100%;
    color: grey;
    text-align: center;
    border-top: 1px solid;
    border-color: grey;
}
ol {
    list-style-type:upper-roman;
}

img {
    border-radius: 25px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

h1 {
    border-bottom: 1px solid;
    border-color: white;
}

h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    text-indent: 3%;
}
ol{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
ol h3
{
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    width: 60%;
}
li p {
    text-align: left;
    margin-left: 0;
}

a:link {
    text-decoration: none;
    color: grey;
}

a:visited {
    color: white;
}

@media only screen and (max-width: 400px) {
    body
    {

    }

    img {
        width: 70%;
    }

    p {
        width: 90%;
    }
    ol{
        width: 85%;
    }
    ol h3
    {
        width: 85%;
    }
}